* {
	box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

body, html {
	margin: 0;
}

body {
	padding: 0;
	border: 100px solid #fff;
	
	
}	
.wrapper {
	box-shadow: 0 0 100px 5px #f4f4f4;
	padding-top: 7.5%;
	padding-left: 7.5%;
	padding-right: 7.5%;
}

.main {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	padding: 10px;
	line-height: 2;
	color: #858585;
}

.first-letter {
	font-family: 'Playfair Display', serif;
	font-size: 6.875rem;
	margin-right: 40px;
	font-weight: 700;
	float: left;
	line-height: 0.7;
	color: black;
}

.header-footer {
	font-size: 1.5rem;
	font-style: italic;
	margin-top: 0px;
	padding: 0;
	line-height: 1;

}
.footer-first {
	font-size: 3.75rem;
	padding-right: 0.625rem;
}

button {
	border: 1px solid #eaa258;
	color: #eaa258;
	background: #fff;
	width: 270px;
	height: 70px;
	text-transform: uppercase;
	margin-top: 40px;
	letter-spacing: 0.5rem;
}